$dark-red: #591E23;
$tan: #F2D8A7;
$pink: #FF5A7C; /* #D94E67*/
$brown: #73503C;

@mixin links($color, $hover-color)
{
	a, a:link
	{
		color: $color;
		text-decoration: none;
	}

	a:hover
	{
		color: $hover-color;
		text-decoration: underline;
	}
}



body
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: Tahoma, Geneva, sans-serif;
	background-color: $dark-red;	
}

footer
{
	background-color: $dark-red;
	color: #fff;
	text-align: left;
	padding-top: 10px;
	
	@include links($pink, #fff);

}

.footer
{
    margin: 10px;
    vertical-align: middle;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

header
{
	background-color: $tan;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-top: 50px;
}


#logoImg
{
	max-width: 162px;
	max-height: 163px;
}

#cafeImg
{
	max-width: 350px;
	max-height: 253px;
}

h1
{
	text-align: center;
	padding: 5px;
	padding-bottom: 15px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

h3
{
	text-align: center;
	padding: 5px;
	padding-bottom: 10px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

h4
{
	padding-top: 5px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
	
ul
{
	padding-left: 0;
	p
	{
		font-size: 14px;
	}
}



p
{
	font-size: 16px;
}

main div
{
	padding: 15px;
}

hr

{
	border-color: $pink;
	width: 90%;
}

.vr
{
    border-left: thin solid $pink;
}

li
{
	list-style-type: none;
}

@include links($pink, $tan);


@mixin rounded($radius) {
	-webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    border-radius:$radius;
}

.rounded
{
    @include rounded(5px);
}

 
main
{
	background-color: $dark-red;
	padding-top: 5px;
}
 

#titleImg
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 100px;
	max-width:400px;
}

#title
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	max-height: 100px;
	max-width:400px;
	
}

.navbar-custom
{
    color: #fff;
    background-color: $dark-red;
}
.navbar-custom .navbar-nav > li > a
{
    color: $pink;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus
{
    color: #fff;
    background: $pink;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus
{
    color: #fff;   
}
.navbar-brand
{
	padding: 0;
}
.navbar-right
{
	padding-top: 5px;
}


.inner-item
{
	text-align: center;
    img 
    {
    	margin: 0 auto;
    }
}

#myCarousel
{
	background: $brown;

}

#bunkhouseImg
{
	margin-top: 60px;
}

#facebookLogo
{
	margin-top: 5px;
}

#bunkhouseAbout
{
	background-color: $dark-red;
	margin-top:0;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	color: #fff;
}

#amenities
{
	@extend #bunkhouseAbout;
	margin-bottom: 50px;
}

#homeNashville
{
	background-color: $tan;
	margin-top:0;
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	
	a:hover { color: $dark-red;}
	
}



#homeSecTwo
{
	background-color: $dark-red;
	margin-top:0;
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	color: #fff;	
}

.center-text
{
	text-align: center;
}

#directions
{
	background-color: $tan;
	margin-top:0;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}
#map-canvas 
{
     width: 100%;
     min-height: 450px;
     height: 100%;
}





