$dark-red: #591E23;

@mixin links($color, $hover-color)
{
	a, a:link
	{
		color: $color;
		text-decoration: none;
	}

	a:hover
	{
		color: $hover-color;
		text-decoration: underline;
	}
}

#wrapper
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #F2D8A7;
    /* font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; */
    font-family: Tahoma, Geneva, sans-serif;
}

body
{
	background-color: $dark-red;	
}

footer
{
	background-color: $dark-red;
	color: white;
	text-align: left;
	padding-top: 10px;
	
	@include links(#fff, #D94E67);

}

.footer
{
    padding: 10px;
    vertical-align: middle;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

header
{
	background-color: #F2D8A7;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-top: 50px;
}


#logoImg
{
	position: relative;
	padding: 5px;
	top: 8px;
}

h1
{
	text-align: center;
	padding: 5px;
	padding-bottom: 15px;
}

h3
{
	text-align: center;
	padding: 5px;
	padding-bottom: 10px;
}

h4
{
	padding-top: 5px;
}

p
{
	font-size: 16px;
}

main div
{
	padding: 15px;
}

hr

{
	border-color: #D94E67;
	width: 90%;
}

.vr
{
    border-left: thin solid #D94E67;
}

li
{
	list-style-type: none;
}


.transparent
{
	position: absolute;
	background-color:rgba(0,0,0,0.5);
	bottom: 0;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;	
	text-align: right;
	color: white;
}


@include links(#D94E67, #F2D8A7);


@mixin rounded($radius) {
	-webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    border-radius:$radius;
}

.rounded
{
    @include rounded(5px);
}

 
main
{
	background-color: $dark-red;
	padding-top: 5px;
}
 

#homeTitle
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-custom
{
    color: white;
    background-color: $dark-red;
}

.navbar-custom .navbar-nav > li > a {
    color: #D94E67;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus
{
    color: $dark-red;
    background: #D94E67;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    
}


.inner-item
{
	text-align: center;
    img 
    {
    	margin: 0 auto;
    }
}

#myCarousel
{
	background: #73503C;

}

#bunkhouseImg
{
	padding-top: 25px;
}

#bunkhouseAbout
{
	background-color: $dark-red;
	margin-top:0;
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	color: white;
	
	
}

#homeNashville
{
	background-color: #F2D8A7;
	margin-top:0;
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	
	a:hover { color: $dark-red;}
	
}



#homeSecTwo
{
	background-color: $dark-red;
	margin-top:0;
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	color: white;	
}

.center-p
{
	text-align: center;
}

#directions
{
	background-color: #F2D8A7;
	margin-top:0;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}
#map-canvas 
{
     width: 100%;
     min-height: 450px;
     height: 100%;
}

.fold
{
	height:100%;
}




